extends layout

block css
   link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalContador').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post")
      div.form-group
         label.control-label.col-sm-2(for="contadores") Contadores:
         div.col-sm-10
            select#contadores.form-control.input-lg(multiple size="10")
               if (contadores != "")
                  for contador in contadores
                     option(value="#{contador.descricao}") #{contador.descricao}

      div.form-group
         label.control-label.col-sm-2(for="descrição") Descrição:
         div.col-sm-4
            input#descricao.form-control(type="text" name="descricao" required value="#{descricao}")

      div.form-group
         label.control-label.col-sm-2(for="prefixo") Prefixo:
         div.col-sm-4
            input#prefixo.form-control(type="text" name="prefixo" required value="#{prefixo}")

      div.form-group
         label.control-label.col-sm-2(for="prefixo") Contador:
         div.col-sm-4
            div.input-group
               input#contador.form-control(type="text" name="contador" required value="#{contador}")
               span.input-group-btn
                  button#incContador.btn.btn-default
                     span.glyphicon.glyphicon-plus
                  button#decContador.btn.btn-default
                     span.glyphicon.glyphicon-minus
                  button#reInitContador.btn.btn-default
                     span.glyphicon.glyphicon-record

      div.form-group
         label.control-label.col-sm-2(for="prefixo") Formatação:
         div.col-sm-4
            input#casas.form-control(type="text" name="casas" required value="#{casas}")

      div.form-group
         div.col-sm-offset-2.col-sm-10
            button#salvar.btn.btn-default(type="submit") Salvar
            button#atualizar.btn.btn-default(type="submit") Atualizar
            button#apagar.btn.btn-default(type="submit") Apagar

      #modalContador.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(data-dismiss="modal") Fechar

block script
   script(src='javascripts/components/contador.min.js')
