extends layout

block css
   link(rel='stylesheet', href='/stylesheets/bootstrap-tokenfield.min.css')
   link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
   link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5.min.css')
   link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5-editor.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).on('ready', function(){
            $('#modalEdit').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
      input#token(type="hidden" name="token" value='#{token}')
      div.form-group
         label.control-label.col-sm-2(for="codigo") Código:
         div.col-sm-3
            input#editCodigo.form-control(type="text" readonly placeholder="Insira um número" name="codigo" value="#{codigo}")

      div.form-group
         label.control-label.col-sm-2(for="nota") Nota:
         div.col-sm-10
            textarea#editNota.form-control(rows="20" name="nota" placeholder="Escreva uma nota ou descrição aqui!!") #{nota}

      #listaArquivos.form-group
         label.control-label.col-sm-2(for='arquivos') Arquivo(s) cadastrado(s):
         #itensArquivos.col-sm-10
            if (arquivos != '')
               for arquivo, i in arquivos
                  div(id=i)
                     a(id=i value="#{arquivo}") #{arquivo}
                     span &nbsp&nbsp
                     button.btn.btn-default.btn-xs(id=i value="#{arquivo}") -

      div.form-group
         label.control-label.col-sm-2(for='arquivos') Arquivo(s):
         div.col-sm-4
            input#editArquivos.form-control(type="file" name="file" accept="image/*,audio/*,video/*,.pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" placeholder="Insira um arquivo aqui!!" multiple)

      div.form-group
         label.control-label.col-sm-2(for="Issue") Número da Issue:
         div.col-sm-4
            input#editIssue.form-control(type="text" name="issue" maxlength="20" placeholder="Insira o número de uma Issue!!")

      div.form-group
          label.control-label.col-sm-2(for="Perfil") Perfil:
          div.col-sm-10
             select#perfil.form-control.input-lg(multiple size="5")
               if (perfils != "")
                  for perfil in perfils
                     option(id="#{perfil._id}") #{perfil.descricao}

      div.form-group
          label.control-label.col-sm-2(for="Funcionalidade") Funcionalidade:
          div.col-sm-5
             select#funcionalidade.form-control.input-lg(multiple size="5")
               if (funcionalidades != "")
                  for funcionalidade in funcionalidades
                     option #{funcionalidade.descricao}
          div.col-sm-5
             select#subTipos.form-control.input-lg(multiple size="5")
               if (subTipos != "")
                  for subTipo in subTipos
                     option #{subTipo}

      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            input#editTags.form-control(type="text" name="tags" placeholder="Insira tags aqui!!" value="#{tags}")

      #modalEdit.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Fechar

      div.form-group
         div.col-sm-offset-2.col-sm-2
            button#editEnviar.btn.btn-default Salvar
               input#comando.form-control(type="hidden" name="comando" value="post")
               input#versao.form-control(type="hidden" name="versao" value="#{versao}")

block script
   script(src='/javascripts/bootstrap-tokenfield.min.js')
   script(src='/javascripts/componentsInit/tokenfields.min.js')
   script(src='/javascripts/wysihtml5x-toolbar.min.js')
   script(src='/javascripts/bootstrap3-wysihtml5.min.js')
   script(src='/javascripts/componentsInit/textAreaEditor.min.js')
   script(src='/javascripts/components/edit.min.js')


