extends layout

block css
   link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalPerfil').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post")
      div.form-group
         label.control-label.col-sm-2(for="codigo") Funcionalidade:
         div.col-sm-10
            div.input-group
               input#descricao.form-control(type="text" name="descricao" placeholder="Insira uma funcionalidade")
               span.input-group-btn
                  button#inserirFuncionalidade.btn.btn-default
                     span.glyphicon.glyphicon-plus
                  button#alterarFuncionalidade.btn.btn-default
                     span.glyphicon.glyphicon-pencil
                  button#apagarFuncionalidade.btn.btn-default
                     span.glyphicon.glyphicon-minus

      div.form-group
         label.control-label.col-sm-2(for="codigo")
         div.col-sm-10
            select#funcionalidades.form-control.input-lg(multiple size="10")
               if (funcionalidades != "")
                  for funcionalidade in funcionalidades
                     option(value="#{funcionalidade.descricao}") #{funcionalidade.descricao}


      div.form-group
         label.control-label.col-sm-2(for="subTipo") SubTipo:
         div.col-sm-10
            div.input-group
               input#subTipo.form-control(type="text" name="subtipo" placeholder="Insira um subtipo de funcionalidade")
               span.input-group-btn
                  button#inserirSubTipo.btn.btn-default
                     span.glyphicon.glyphicon-plus
                  button#alterarSubTipo.btn.btn-default
                     span.glyphicon.glyphicon-pencil
                  button#apagarSubTipo.btn.btn-default
                     span.glyphicon.glyphicon-minus

      div.form-group
         label.control-label.col-sm-2(for="codigo")
         div.col-sm-10
            select#subTipos.form-control.input-lg(multiple size="10")
               if (subTipos != "")
                  for subTipo in subTipos
                     option(value="#{subTipo}") #{subTipo}

      #modalPerfil.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Fechar

block script
   script(src='javascripts/components/funcionalidade.min.js')
