extends layout

block css
   link(rel='stylesheet', href='/stylesheets/bootstrap-tokenfield.min.css')
   link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
   link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5.min.css')
   link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5-editor.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalInsert').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
      div.form-group
          label.control-label.col-sm-2(for="tipo nota") Tipo de Nota:
          div.col-sm-2
              div.btn-group
                  a.btn.btn-default.dropdown-toggle.btn-select(data-toggle='dropdown' tabIndex='0' href='#') Nenhum Tipo&nbsp
                      span.caret
                  ul#TipoNota.dropdown-menu
                      li
                        a(href="#") Nenhum Tipo
                      if (contadores != "")
                          for contador in contadores
                             li
                                a(href="#" value="#{contador.prefixo}") #{contador.descricao}

      div.form-group
         label.control-label.col-sm-2(for="codigo") Código:
         div.col-sm-3
            input#insertCodigo.form-control(type="text" name="codigo" tabindex=1 required maxlength="20" placeholder="Insira um código" value="#{codigo}")

      div.form-group
         label.control-label.col-sm-2(for="nota") Nota:
         div.col-sm-10
            textarea#insertNota.form-control(rows="20" name="nota" placeholder="Escreva uma nota ou descrição aqui!!") #{nota}

      div.form-group
         label.control-label.col-sm-2(for="arquivo") Arquivo:
         div.col-sm-4
            input#insertArquivos.form-control(type="file" name="file" tabindex=3 accept="image/*,audio/*,video/*,.pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" placeholder="Insira um arquivo aqui!!" multiple)

      div.form-group
         label.control-label.col-sm-2(for="Issue") Número da Issue:
         div.col-sm-4
            input#insertIssue.form-control(type="text" name="issue" tabindex=4 maxlength="20" required placeholder="Insira o número de uma Issue!!")

      div.form-group
          label.control-label.col-sm-2(for="Perfil") Perfil:
          div.col-sm-10
             select#perfil.form-control.input-lg(multiple tabindex=5 size="5" required)
               if (perfils != "")
                  for perfil in perfils
                     option(id="#{perfil._id}") #{perfil.descricao}

      div.form-group
          label.control-label.col-sm-2(for="Funcionalidade") Funcionalidade:
          div.col-sm-5
             select#funcionalidade.form-control.input-lg(multiple tabindex=6 size="5" required)
               if (funcionalidades != "")
                  for funcionalidade in funcionalidades
                     option #{funcionalidade.descricao}
          div.col-sm-5
             select#subTipos.form-control.input-lg(multiple tabindex=7 size="5" required)
               if (subTipos != "")
                  for subTipo in subTipos
                     option #{subTipo}

      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            input#insertTags.form-control(type="text" name="tags" tabindex=8 placeholder="Insira tags aqui!!" value="#{tags}")

      div.form-group
         div.col-sm-offset-2.col-sm-10
            button#salvar.btn.btn-default(type="submit" tabindex=9) Salvar

      #modalInsert.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(data-dismiss="modal") Fechar

block script
   script(src='/javascripts/bootstrap-tokenfield.min.js')
   script(src='/javascripts/componentsInit/tokenfields.min.js')
   script(src='/javascripts/wysihtml5x-toolbar.min.js')
   script(src='/javascripts/bootstrap3-wysihtml5.min.js')
   script(src='/javascripts/componentsInit/textAreaEditor.min.js')
   script(src='/javascripts/components/insert.min.js')
