extends layout

block css
   link(rel='stylesheet', href='/stylesheets/tokenfield/css/bootstrap-tokenfield.css')
   link(rel='stylesheet', href='/stylesheets/jquery-ui/jquery-ui.css')
   link(rel='stylesheet', href='/stylesheets/editors5/dist/bootstrap3-wysihtml5.css')
   link(rel='stylesheet', href='/stylesheets/editors5/dist/bootstrap3-wysihtml5-editor.css')
   script(src='/stylesheets/datatables/media/js/jquery.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalInsert').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
      div.form-group
          label.control-label.col-sm-2(for="tipo nota") Tipo de Nota:
          div.col-sm-2
              div.btn-group
                  a.btn.btn-default.dropdown-toggle.btn-select(data-toggle='dropdown' tabIndex='0' href='#') Nenhum Tipo&nbsp
                      span.caret
                  ul#TipoNota.dropdown-menu
                      li
                        a(href="#") Nenhum Tipo
                      if (contadores != "")
                          for contador in contadores
                             li
                                a(href="#" value="#{contador.prefixo}") #{contador.descricao}

      div.form-group
         label.control-label.col-sm-2(for="codigo") Código:
         div.col-sm-3
            input#insertCodigo.form-control(type="text" name="codigo" tabindex=1 required maxlength="20" placeholder="Insira um código" value="#{codigo}")

      div.form-group
         label.control-label.col-sm-2(for="nota") Nota:
         div.col-sm-10
            textarea#insertNota.form-control(rows="20" name="nota" placeholder="Escreva uma nota ou descrição aqui!!") #{nota}

      div.form-group
         label.control-label.col-sm-2(for="arquivo") Arquivo:
         div.col-sm-4
            input#insertArquivos.form-control(type="file" name="file" tabindex=3 accept="image/*,audio/*,video/*,.pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" placeholder="Insira um arquivo aqui!!" multiple)

      div.form-group
         label.control-label.col-sm-2(for="Issue") Número da Issue:
         div.col-sm-4
            input#insertIssue.form-control(type="text" name="issue" tabindex=4 maxlength="20" required placeholder="Insira o número de uma Issue!!")

      div.form-group
          label.control-label.col-sm-2(for="Perfil") Perfil:
          div.col-sm-10
             select#perfil.form-control.input-lg(multiple tabindex=5 size="5" required)
               if (perfils != "")
                  for perfil in perfils
                     option(id="#{perfil._id}") #{perfil.descricao}

      div.form-group
          label.control-label.col-sm-2(for="Funcionalidade") Funcionalidade:
          div.col-sm-5
             select#funcionalidade.form-control.input-lg(multiple tabindex=6 size="5" required)
               if (funcionalidades != "")
                  for funcionalidade in funcionalidades
                     option #{funcionalidade.descricao}
          div.col-sm-5
             select#subTipos.form-control.input-lg(multiple tabindex=7 size="5" required)
               if (subTipos != "")
                  for subTipo in subTipos
                     option #{subTipo}

      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            input#insertTags.form-control(type="text" name="tags" tabindex=8 placeholder="Insira tags aqui!!" value="#{tags}")

      div.form-group
         div.col-sm-offset-2.col-sm-10
            button#salvar.btn.btn-default(type="submit" tabindex=9) Salvar

      #modalInsert.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(data-dismiss="modal") Fechar

block script
   script(src='/stylesheets/tokenfield/bootstrap-tokenfield.js')
   script(src='/javascripts/componentsInit/tokenfields.js')
   script(src='/javascripts/components/insertCodigoKeyUp.js')
   script(src='/stylesheets/editors5/dist/wysihtml5x-toolbar.min.js')
   script(src='/stylesheets/editors5/dist/bootstrap3-wysihtml5.js')
   script(src='/javascripts/componentsInit/textAreaEditor.js')
   script.
      $('#insertCodigo').on('blur', function(event){
            $('#insertNota').focus();
      });

      $('#insertTags').on('tokenfield:createtoken', function(event){
             var existingTokens = $(this).tokenfield('getTokens');
             $.each(existingTokens, function(index, token){
                   if (token.value === event.attrs.value) {
                          event.preventDefault();
                   }
             });
      });

      $('select#perfil').on('click',function(event){
             $('#insertTags').tokenfield('createToken','Perfil: '+$('select#perfil option:selected').text());
      });

      $('select#perfil').on('keypress',function(event){
             var key = event.which || event.keyCode;
             if (event.keyCode == 13) {
                    $('#insertTags').tokenfield('createToken','Perfil: '+$('select#perfil option:selected').text());
             }
             event.preventDefault();
      });

      $('select#funcionalidade').on('click',function(event){
             var descricao = $('select#funcionalidade option:selected').text();
             rest.get('/insert/funcionalidade/'+descricao, function(data){
                   $('select#subTipos').empty();
                   $.each(data, function(i, value){
                          $('select#subTipos').append($('<option>').text(value).attr('value', value));
                   });
             });
             event.preventDefault();
      });

      $('select#funcionalidade').on('keydown',function(event){
             var descricao = $('select#funcionalidade option:selected').text();
             rest.get('/insert/funcionalidade/'+descricao, function(data){
                   $('select#subTipos').empty();
                   $.each(data, function(i, value){
                         $('select#subTipos').append($('<option>').text(value).attr('value', value));
                   });
             });
      });

      $('select#funcionalidade').on('keypress',function(event){
             var descricao = $('select#funcionalidade option:selected').text();
             rest.get('/insert/funcionalidade/'+descricao, function(data){
                   $('select#subTipos').empty();
                   $.each(data, function(i, value){
                         $('select#subTipos').append($('<option>').text(value).attr('value', value));
                   });
             });
             event.preventDefault();
      });

      $('select#subTipos').on('click',function(event){
             var funcionalidade = $('select#funcionalidade option:selected').text();
             var subTipo = $('select#subTipos option:selected').text();
             if ((funcionalidade != "") && (subTipo != "")) {
                    $('#insertTags').tokenfield('createToken','Funcionalidade: '+funcionalidade+'>>'+subTipo);
             }
             event.preventDefault();
      });

      $('select#subTipos').on('keypress',function(event){
             var key = event.which || event.keyCode;
             if (key == 13) {
                    var funcionalidade = $('select#funcionalidade option:selected').text();
                    var subTipo = $('select#subTipos option:selected').text();
                   if ((funcionalidade != "") && (subTipo != "")) {
                         $('#insertTags').tokenfield('createToken','Funcionalidade: '+funcionalidade+'>>'+subTipo);
                   }
             }
             event.preventDefault();
      });

      $("#TipoNota.dropdown-menu li a").click(function(event){
             var selText = $(this).text();
             var prefixo = $(this).attr('value');
             $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"> </span>');
             if (selText != "Nenhum Tipo") {
                   rest.get('/insert/prefixo/'+prefixo+'/next', function(data){
                          $('#insertCodigo').val(data);
                   });
                   $('#insertTags').tokenfield('createToken', selText);
             }
      });

      $('#insertIssue').on('keyup',function(event){
             var numero = $(this).val().replace(/[^a-zA-Z\-\d]/g,'');
             $('#insertIssue').val(numero.toUpperCase());
      });

      $('#insertIssue').on('blur', function(event){
             var numero = $('#insertIssue').val();
             if (numero != ""){
                   $('#insertTags').tokenfield('createToken', 'Issue: '+numero);
             }
      });
