extends layout

block css
   link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalPerfil').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post")
      input#token(type="hidden" name="token" value='#{token}')
      div.form-group
         label.control-label.col-sm-2(for="codigo") Perfil:
         div.col-sm-10
            div.input-group
               input#descricao.form-control(type="text" name="descricao" placeholder="Insira um perfil")
               span.input-group-btn
                  button#salvarPerfil.btn.btn-default
                     span.glyphicon.glyphicon-plus
                  button#atualizarPerfil.btn.btn-default
                     span.glyphicon.glyphicon-pencil
                  button#apagarPerfil.btn.btn-default
                     span.glyphicon.glyphicon-minus

      div.form-group
         label.control-label.col-sm-2(for="codigo")
         div.col-sm-10
            select#perfils.form-control.input-lg(multiple size="15")
               if (perfils != "")
                  for perfil in perfils
                     option(id="#{perfil._id}" value="#{perfil.descricao}") #{perfil.descricao}

      #modalPerfil.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Fechar

block script
   script(src='/javascripts/components/perfil.min.js')
