extends layout

block css
   link(rel='stylesheet' href='/stylesheets/jquery-ui.min.css')
   link(rel='stylesheet' href='/stylesheets/jquery.dataTables.min.css')
   link(rel='stylesheet' href='/stylesheets/bootstrap-tokenfield.min.css')
   script(src='/javascripts/jquery.min.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalTags').modal({backdrop: 'static', show: true});
         });
      }


block content
   form.form-horizontal(role="form" id="formTags" method="post")
      input#token(type="hidden" name="token" value='#{token}')
      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            div.input-group
               input#searchTags.form-control.button-click(type="text" name="searchTags" placeholder="Insira uma tag para pesquisar!!")
               input#choosenButton(type="hidden" name="choosenButton" value="")
               span.input-group-btn
                  button#buttonOR.btn.btn-default Ou
                  button#buttonAND.btn.btn-default E
   div.row
      div.col-sm-offset-2.col-sm-10
         table#tableTags.display
            tbody
               if (results != "")
                  each result in results
                     tr
                        td #{result.codigo}
                        td #{result.nota.substring(0,150).replace(/(<([^>]+)>)/ig,' ')} <div><p> ...</p></div><div style='float:left;clear:left;'><em><strong>Tags: </strong></em> !{result.tags} </div>
                        td
                        td
   #modalTags.modal
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
               h4.modal-title Mensagem:
            .modal-body
               p #{message}
            .modal-footer
               button.btn.btn-default(type="button" data-dismiss="modal") Fechar
block script
   script(src='/javascripts/bootstrap-tokenfield.min.js')
   script(src='/javascripts/componentsInit/tokenfields.min.js')
   script(src='/javascripts/jquery.dataTables.min.js')
   script(src='/javascripts/componentsInit/tables.min.js')
   script(src='/javascripts/components/searchForTags.min.js')
